
/* own */
.b_bank_list .title{font-weight:bold;padding-bottom:10px}
.b_bank_list ul {padding-bottom:10px}
.b_bank_list .e_open_ibank_long{ width:364px;}
.b_bank_list .e_open_ibank .bank_logo_box .bankcard_info{ border-left: 1px solid #e5e5e5; display: inline-block; vertical-align: middle; padding: 5px 10px 5px; color: #888; }
.b_card_list .e_card_type .common_card { width: 84px; float: left; padding-top: 12px; padding-right: 7px; font-size: 14px; font-family: Microsoft YaHei, SimHei; color: #333; }
.b_card_list .e_bank_all { padding-left: 132px; margin-top: 18px; }

#bindcardsCon .chose_all_card a{ padding: 5px; border: 1px dashed #CAE1F6; background: #EBF5FF; font-weight: bold; }
#bindcardsCon  .all_blind_bank{position: absolute;right:0;top:0;padding:0 20px;border:1px solid #eee;border-top:0;text-align: center;}
#bindcardsCon  .all_blind_bank a{color:#aaa;height: 25px;line-height: 25px;cursor:pointer;}

body{text-align:left;}
.tab_nav, .popup_tips_wrap{float:left;}
.b_tab_ui .b_popup_tips{left:10px;top:0;}
.to_bank{border-top:1px solid #F8F8F8;border-bottom:1px solid #F8F8F8;padding:10px;}
.to_bank a{font-weight: bold;}


.debit_card .left_ctn{width:170px;}
.debit_card .left_ctn .title{text-align:center;font-size:14px;}
.debit_card td{padding-top:20px;}

.debit_card .show_and_hide a{float:right;width:85px;height:20px;cursor:pointer;margin-right: 22px;}
.b_bank_list .hide{display:none;}

.e_ops_button1{border-top:1px solid #F2F2F2;}
.b_tab_ui .e_ops_button1{padding: 20px 20px 40px 170px;}
.e_ops_button1 span{margin-left:10px;color:#999}


.b_header{border-bottom:none}
.b_payfor_content{padding:0}
.b_main_pay{padding:10px}

.bank_width{width:966px}
.b_chose_bank .inner1{width:960px;padding-bottom:0}
.b_chose_bank .content_wrap{margin: 10px 10px 0 10px;}

/*credit info*/
.credit-bank{overflow: hidden;display: none;}
.credit-bank-wrap .fL{float: left;border: 1px solid #ccc;padding: 3px 4px 1px 4px;height: 36px;line-height: 36px;overflow: hidden;}
.credit-bank-wrap .fR{float: left;line-height: 40px;padding:0 7px;border:1px solid #ccc;border-left:0;}
.credit-bank-wrap .fR span{font-weight: bold;}
.credit-info-wrap{position: relative;display: none;clear:both;}
.credit-info{left: 550px;position: absolute;padding:5px;top: -345px;border:3px solid #ccc;}
.credit-info>p{font-weight: bold;padding-bottom: 5px;}
.credit-info table{width: 250px;color:#000;}
.credit-info table td{border:1px solid #eee;width: 50%;line-height: 2.5;text-indent: 10px;}
.credit-info table .title td{background: #eee;line-height: 1.5;}

.payResult, .payResult .inner{width:434px}
.payResult .inner{padding-bottom:0}
.payResult .ctl{text-align: center;vertical-align: middle;padding: 20px 10px 30px 10px;border-bottom: 1px solid #D9D9D9;}
.payResult .ctl a{display: inline-block;height: 30px;width: 168px;line-height: 30px;background: url(/img/all_pay.png) no-repeat 0 0;;margin: 0 12px;font-size: 14px;color: #555;}
.payResult .ctn{padding: 0 5px 5px;}
.payResult .msg{color:#999;padding: 20px 10px 30px 10px;}
.payResult .msg .title{padding-bottom: 10px;font-size: 14px;}
.payResult .msg .title .t1,.payResult .msg .title .t2{display: inline-block;height: 16px;line-height: 16px;vertical-align: middle;font-weight: bold;}
.payResult .msg .title .t1{width: 16px;background:url(/img/all_pay.png) no-repeat -179px -3px;margin-right: 5px;}
.payResult .msg .active .head{font-weight:bold;color:#666;}
.payResult .msg .more{padding: 12px 12px 12px 16px;;color:#666;}

.show .down, .show .up, .show .down_1, .show .up_1{display:inline-block;width:11px;height:13px;line-height:11px;vertical-align:middle;background: url(/img/all_pay.png) no-repeat;}
.show .down{background-position:-145px -34px}
.show .up{background-position:-163px -34px}
.show .down_1{background-position:-107px -34px;}
.show .up_1{background-position:-124px -34px;}

.b_hd_mod .notice_txt .detail{ padding-bottom:6px; font-size:14px; color:#999; }
.b_hd_mod .notice_txt .detail .order_num{ padding-right:45px; }
.b_hd_mod .notice_txt .detail .order_num em{ font-family:Tahoma, Geneva, sans-serif; color:#555; }
.b_hd_mod .notice_txt .detail .tc_name{ color:#555; }
.b_hd_mod .e_notice_content{position:relative;z-index:100;}

.notice_txt .detail_more{position:absolute;top:100px;left:0;width:990px;font-size: 14px;color: #999;}
.notice_txt .detail_more_ctl{position: absolute;bottom: -20px;right: 30px;width: 100px;height: 30px;background: url(/img/all_pay.png) no-repeat 0 -34px;line-height: 30px;text-align: center;}
.notice_txt .detail_more_ctl a{color: #f5f5f5;width: 100px;height: 30px;display:inline-block;line-height: 30px;}
.notice_txt .detail_more_ctl1{bottom:0px}
.notice_txt .detail_more_ctn{padding: 0px 20px 20px 87px;background: #F7FDFB;border-bottom: 3px solid #5ABEC6;}
.notice_txt .detail_more_ctn td {padding-bottom: 10px;}
.b_hd_mod .notice_state_success .notice_txt.bd{border-bottom: 3px solid #5ABEC6;}

/*other bank*/
.b_other_bank{width: 870px;}
.b_other_bank .content_wrap{padding:15px 30px;}
.b_other_bank .e_ops_button{padding-top: 20px;}
.idsuggest-wrap{position: relative;}
.idsuggest{width: 228px; border:1px solid #ccc; border-top:0; position: absolute; left:0; top:29px; }
.idsuggest li a{display: block; color:#666; width: 100%; background: #fff; text-indent: 8px; height: 30px; line-height: 30px; }
.idsuggest li a:hover{background: #4778da; color:#fff; }

/*restip*/
.restip{background: #fff;width: 500px;}
.restip .content_wrap{padding:30px;}
.restip .content_wrap .c1{width: 54px;}
.restip .content_wrap .credit-bank-wrap{margin-left: 58px;}
.restip .res-btn{background: url("http://source.qunar.com/site/images/pay/quick_pay/button.png") no-repeat scroll 0 -649px transparent;  color: #FFFFFF;  display: block;  height: 22px;  line-height: 22px;  text-align: center;  width: 100px;}

.server_icon{background: url(/img/all_pay.png) no-repeat -179px -30px;;display: inline-block;width: 16px;height: 16px;vertical-align: middle;margin: 4px 5px 6px 16px;line-height: 16px;}
strong{font-weight:bold;}

.b_card_list li.highlight .banklogo_box{ border: 1px solid #5ABEC6;}
.b_card_list li.highlight .bankcard_info{ border-left: 1px solid #5ABEC6;background-color:#F5F5F5}
.b_card_list li.js-choose-item{ position: relative;}
.b_card_list li.js-choose-item table.info {font-size: 12px; height: 60px; position: absolute; right: 20px; top: 10px; width: 350px; }
.b_card_list li.js-choose-item table.info td{border:1px solid #EDEDED;text-align: center;padding:0px 10px;height:35px;vertical-align:middle;}
.b_card_list li.js-choose-item table.info th{border:1px solid #EDEDED;text-align: center;padding:0px 10px;height:25px;vertical-align:middle;background: #EDEDED;}

.encryption{ padding-right:5px; font-size:14px; color:#999; vertical-align:middle;}

.confirmCardInfo{padding: 0px 0px 10px 35px;;font-size: 14px;}
.confirmCardInfo .t1{width: 16px;background: url(/img/all_pay.png) no-repeat -179px -3px;margin-right: 5px;display: inline-block;height: 16px;line-height: 16px;vertical-align: middle;}

.b_pinfo_form .ops_cardnum .confirm input{width:180px}

.b_card_list li.js-choose-item:hover table.info,.b_card_list li.js-choose-item.current table.info{display: block;}
.b_card_list .banklogo_box{ float:left; border:1px solid #e5e5e5; display:inline-block; height:40px; vertical-align:middle; overflow:hidden; cursor: pointer;}
.b_card_list .e_bank_all{padding-left: 132px;overflow: hidden;height:40px;line-height: 40px;border-top:1px solid #eee;padding-top: 10px;position: relative;margin-top: 18px;}

.e_card_picwrap.simple .card_pic{top:auto;bottom:100px;}

.yselector{background-color:#fff;width:110px;margin-right:10px;}
.yselector_input{color:#A9A9A9}
.yselector_suggest{width:108px;}